<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

    <h2>Register</h2>
    <form method="post" >
        {% csrf_token %}
        {% if form.errors %}
            <p>Please correct the errors below.</p>
        {% endif %}
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password1">Password</label><br>
        <input type="password" id="password1" name="password" required><br><br>
        {% if login_error %}
                {%for message in login_error%}
                <h6 id="error_message">{{message}}</h6>
                {%endfor%}
                {%  endif %}

        <input type="submit" value="Login">
    </form>

</body>
</html>
