{% extends "base.html" %}
{% block content %}
  <h2>Password Reset Completed</h2>
  <p>Your password has been successfully set. You can now log in with your new password.....</p>
  
  <!-- Customize this button to point to your desired URL -->
  <a href="https://django-djreact-app-d5af3d4e3559.herokuapp.com/" class="btn btn-primary">Logged in</a>

  <!-- Optionally, you can use a direct URL instead of a named URL -->
  <!-- <a href="/your-custom-link/" class="btn btn-primary">Log in</a> -->
{% endblock %}
